<p id=”notice”><%= notice %></p>
<h1>Ameyrates airlines</h1>

<p id="alert"><%= alert %></p>

<p>Tickets to paradise!</p>
<% if current_user %>
  Logged in as <%= current_user.name %>.<br><br>
  <%= link_to "Search flights", flights_path %> <br>
  <%= link_to "My reservations", reservations_url %> <br>
  <br>
  <% if current_user["is_admin"]%>
    <%= link_to 'Manage Users', users_path %> <br>
    <%= link_to 'Manage Flights', flights_path %> <br>
  <% end %>
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Signup", signup_path %> or
  <%= link_to "Login", login_path %>
<% end %>