<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation" style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= form.label :flight_id, style: "display: block"%>
    <%= form.text_field :flight_id, value: @flight.id, :readonly => true%>
  </div>
  <br>
  <div class="field">
    <%= form.label :flight_name, style: "display: block"%>
    <%= form.text_field :flight_name, value: @flight.name, :readonly => true%>
  </div>
  <br>
  <div>
  <div>
    <%= form.label :no_of_passengers, style: "display: block" %>
    <%= form.number_field :no_of_passengers, :id => 'no_of_passengers', max:@flight.capacity+@reservation.no_of_passengers , min:1 %>
  </div>
  <br>
  <div>
    <%= form.label :ticket_class, style: "display: block" %>
    <%= form.select :ticket_class, [['Economy','economy'],['First','first'],['Business','business']] %>
  </div>
  <br>
  <div>
    <%= form.label :amenities, style: "display: block" %>
    <%= form.select :amenities, [['None','none'],['Wifi','wifi'],['Meal Preference','meal_preference'],['Extra Leg Room','extra_legroom']] %>
  </div>
  <br>
    <%= form.submit %>
  </div>
<% end %>

<script>
    function calculateTotalPrice() {
        var price = "<%= @flight.cost %>";
        price = parseInt(price);
        document.getElementById('cost').value = document.getElementById('no_of_passengers').value * price;
    }
</script>
