<div id="<%= dom_id reservation %>">
  <p>
    <strong>Reservation:</strong>
    <%= reservation.reservation_id %>
  </p>

  <p>
    <strong>No of passengers:</strong>
    <%= reservation.no_of_passengers %>
  </p>

  <p>
    <strong>Ticket class:</strong>
    <%= reservation.ticket_class %>
  </p>

  <p>
    <strong>Amenities:</strong>
    <%= reservation.amenities %>
  </p>

  <p>
    <strong>No of baggage:</strong>
    <%= reservation.no_of_baggage %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= reservation.cost %>
  </p>

</div>
