<%= form_with(model: baggage) do |form| %>
  <% if baggage.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(baggage.errors.count, "error") %> prohibited this baggage from being saved:</h2>

      <ul>
        <% baggage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :weight, style: "display: block" %>
    <%= form.number_field :weight, :id => 'weight', min: 1, onchange: "calculateTotalPrice();" %>
  </div>

  <div>
    <%= form.label :cost, style: "display: block" %>
    <%= form.text_field :cost, :id => 'cost', :readonly => true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<script type="text/javascript">
    function calculateTotalPrice() {
        var price = "10";
        document.getElementById('cost').value = document.getElementById('weight').value * price;
    }
</script>