<!DOCTYPE html>
<html>
  <head>
    <title>AirlineNew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
      <% if current_user.is_admin %>
        <p>Role: <u>Admin</u> <br>Name: <%= current_user.name%></p>
      <% else %>
        <p>Role: <b>User</b><br>Name: <%= current_user.name%></p>
        <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
